const { ethers, getDefaultProvider } = require('ethers');
const { EthersAdapter, SafeFactory } = require('@safe-global/protocol-kit');
const Safe = require('@safe-global/protocol-kit').default;
const { AptosAccount, BCS, AptosClient, HexString, TxnBuilderTypes } = require("aptos");
const dotenv = require("dotenv");
dotenv.config();

# The following variables are required by the Demo
# Transactions occur between M1 and MEVM
# They correspond to the private keys to be used by the user.

# RPC Endpoints used to deploy contracts
MOVEMENT_RPC_ENDPOINT="https://devnet.internal.m1.movementlabs.xyz"
EVM_RPC_ENDPOINT="https://mevm.devnet.internal.m1.movementlabs.xyz/v1"

# Private keys: Addresses should be previously funded from https://faucet.movementlabs.xyz
# Move address private key
MOVE_PRIVATE_KEY="0xf1b4e09d6c85826475ec0cd302f101a3946b6e65cf40ba9dd663b982de6b3263"
# Ethereum address private key
ETHEREUM_PRIVATE_KEY="300d31fd0bf0b32b2d00cf948cbdb8378bfd06452551a0079ccb0b13be7a2903"

# The API to use safe service
SAFE_SERVICE_API="http://13.59.0.145:8000/api/"

# Required Variables for the tests
MOVE_MULTISIG_OTHER_OWNER_ADDR="0xba428053eb3efcc90debceff7066213a8e8fa75d90948b13dd0a8fa28772faee"
# Move Framework address
MOVE_FRAMEWORK="0x0000000000000000000000000000000000000000000000000000000000000001"
# MEVM Precompile address
EVM_PRECOMPILE_CONTRACT="0x0000000000000000000000000000000000000101"
